body {
    background-color: #D0D0CE;
}

.container-wrapper {
    max-width: 1024px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

.login-wrapper {
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    overflow: hidden;
}

.col-md-7 {
    background-color: white;
}

.login-image {
    border: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-wrapper {
    padding: 85px 60px 60px;
}

.login-card form {
    max-width: 326px;
}

.brand-wrapper {
    margin-bottom: 19px;
}

.brand-wrapper .logo {
    height: 37px;
}